{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main%}
    <div class="container-fluid">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{row.get("name")}}</td>
                    <td>{{row.get("share")}}</td>
                    <td>{{row.get("price")}}</td>
                    <td>{{row.get("date")}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}